BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 110
NamespaceIndentation: None
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
PointerAlignment: Left
SortIncludes: Never
ForEachMacros:
  - CLAY
  - CLAY_AUTO_ID
